<style>
    body { font-family: Arial, sans-serif ; line-height: 1.6; }
    .container { padding: 3 3 3 3 ;width: 95%; margin: auto; overflow: hidden; text-align: center; }
    header { margin-top: 0;position:fixed; width: 98.8%; background: #0f0c00; color: #fffefe; padding-top: 0px; min-height: 70px; border-bottom: #251d00 3px solid; text-align: center;}
    header a { padding: 5;color: #e4ddd8; text-decoration:none; text-transform: capitalize; font-size: 14px; vertical-align: bottom; }
    header ul { padding: 0; list-style: none; text-align: center; }
    header li { float: right; display: inline; padding: 14px 10px 10px 10px; text-align: center; }
    header #branding { float: left; }
    header #branding h1 { margin: 0; }
    header nav { float: center}
    header .highlight, header .current a { padding-top: 10px ;color: #fcfbfb; font-weight: bold;font-size: larger;}
    header a:hover { color: #e29403; font-weight: bold; border-bottom: solid; border-radius: 5px; border-spacing: 10px; }
    .form-container { float: left;padding: 3 3 3 3 ;width: 50%; margin: auto; overflow: hidden; text-align: center; }
    .imagen-container {text-align: center;padding-top: 60px;vertical-align:}
    .imagen-container2 {text-align: center;padding-top: 15px;padding-bottom: 30px;}
    .aida { padding: 15px; color: #333; }
    .attention { background: #352a01; color: #fff; }
    .interest { background: #f4f4f4; }
    .desire { background: #333; color: #fff; }
    .action { background: #028d09; color: #fff; }
    footer { background: #333; color: #fff; text-align: center; padding: 10px; margin-top: 20px; }
    .input{float:right; width: 20%;border: 2px solid #ccc; border-radius: 4px;}
    .formtext{float:left; width: 20%;border: 2px solid #ccc; border-radius: 4px;}
    .button { font-size: 24px; background-color: #024b06; color: white; padding:14px 20px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer; width: 30%; }
    .btext{font-size: 12px; color: #fff; font-weight: bold;}
    .gallery-container {float: left;width: 50% }
    .containerform {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center; /* Centrar el texto y los elementos del formulario */
      }
      form p {
        margin-bottom: 20px;
      }
      
      .form-group {
        margin-bottom: 20px; /* Espacio entre los campos del formulario */
      }
      
      label {
        display: block;
        margin-bottom: 5px;
        padding-left: 5px;
        float: left;
      }
      
      input[type="text"],
      input[type="email"],
      select {
        width: 99%;
        padding: 10px;
        padding-right: 0px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      button {
        width: 100%;
        height: 60px;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #0056b3;
      }
      
      /* Estilos CSS para el formulario de inicio de sesión */
      .login {
          position: absolute;
          top: 10px;
          right: 10px;
      }

      /* Estilos CSS para el título */
      h1 {
          text-align: center;
      }

      /* Estilos CSS para la sección del catálogo de productos */
      .catalogo {
          text-align: center;
      }
      .totalCatalogo {
          text-align: center;
          margin-top: 20px;
          padding: auto;
          font-weight: bold;
          font-size: x-large;
      }        
      /* Estilos CSS para el pie de página */
      footer {
          text-align: center;
          background-color: #f2f2f2;
          padding: 10px;
      }

      .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
      }
      
      .modal-content {
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 40%; 
      }
      
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

      .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:end;
        gap: 20px;;
    }
    
    .product-card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        width: 230px;
        text-align: center;
        align-items: center;
    }
    
    .product-card img {
        width: auto;
        height: 150px;
        border-radius: 5px;
    }
    
    .product-card h3 {
        font-size: 1.2em;
        margin: 10px 0;
        height: 40px;
    }
    
    .product-card p {
        font-size: large;
        color: #333;
    }
    
    .add-to-cart-btn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 1em;
        align-items: bottom;
    }
    
    .add-to-cart-btn:hover {
        background-color: #218838;
        width: 102%;
    }
  
    .cart {
      margin-top: 20px;
    }
  
  .cart .container {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
  }
  
  .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
  }
  
  .cart-item img {
      border-radius: 5px;
  }
  
  .cart-item span {
      flex: 1;
      text-align: center;
  }
  
  .cart-item button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 1px 2px; /* Tamaño reducido */
      cursor: pointer;
      border-radius: 3px; /* Bordes redondeados pequeños */
      font-size: 0.8em; /* Tamaño de fuente reducido */
      margin: 0 3px; /* Espacio entre botones */
      width: 30px;
      height: 30px;
  }
  
  .cart-item button:hover {
      background-color: #0056b3;
  }
  
  .cart-item .remove-btn {
      background-color: #dc3545;
      width: 70px;
      height: 30px;
  }
  
  .cart-item .remove-btn:hover {
      background-color: #c82333;
  }

  .padre {
    position: relative;
  }
  .hijo{
    position: absolute;
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    top: 0.5rem;
    left: 70rem;
    align-items: center;
  }
  .hijo2{
    position: absolute;
    
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    top: 4rem;
    left: 72.6rem;
    align-items: center;
    font-style:oblique;
    font-weight: bold;
  }
</style>